.leftPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  height: 650px;
  background-color: #ffffff;
  border: #000000 solid 3px;
}

.rightPanel {
  height: 650px;
  background-image: url("https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/p960x960/89496968_10157884445978467_1702569218462973952_o.jpg?_nc_cat=110&_nc_sid=e007fa&_nc_oc=AQm2dNuWAui1-gSGsdylPilrCvH-5T6anJDXWEt680jkPTPl7zuXwnPZSnX-G7j_hnM&_nc_ht=scontent-lhr8-1.xx&_nc_tp=6&oh=e3cb3283a00a0fe67b2b3c010dc9a369&oe=5E8D4712");
  background-size: cover;
  background-repeat: no-repeat;
}

/*
https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/87556497_10157854254268467_1958157929064431616_n.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_oc=AQlyhcabtcz4K82BUB1mIXWMfIs9Zc-Se4Yzc8La0Rbde-mZMbSKxUsKjYS7TXhrV3M&_nc_ht=scontent-lht6-1.xx&oh=0ab0f47321a698509f4f6d62c77cd0ba&oe=5E988706
*/

.portrait {
  height: 400px;
  width: 400px;
  border-radius: 400px;
  border: #c2bda0 solid 5px;
  margin-top: 100px;
}

.welcomeText {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.titleText {
  font-family: "Rock Salt", cursive;
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.titleText2 {
  font-family: "Rock Salt", cursive;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #21d8c6, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 12s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.credits {
  font-size: 10px;
}

.img {
  height: 90px;
  width: 90px;
}

.imgArea {
  margin-top: 0px;
}
.images {
  margin: 5px;
  height: 120px;
  width: 120px;
  border: #c2bda0 solid 3px;
  border-radius: 15px;
  transition: transform 0.2s;
}

.images:hover {
  transform: scale(2.5);
}

.contactDetails {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-top: 45px;
}
