.leftPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  height: 600px;
  background-color: #ffffff;
  border: #000000 solid 3px;
}

.rightPanel {
  height: 600px;
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.welcomeText {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.titleText {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.titleText2 {
  font-family: "Rock Salt", cursive;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #21d8c6, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 12s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.credits {
  font-size: 10px;
}

.img {
  height: 90px;
  width: 90px;
}

.images {
  margin: 5px;
  height: 70px;
  width: 70px;
  border: #c2bda0 solid 3px;
  border-radius: 70px;
}

.contactDetails {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-top: 290px;
}

.mainHeading {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}

.Btn {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  background-color: #f1e85b;
  border-color: #000000;
  border-radius: 5px;
  color: #000000;
  text-align: center;
  padding: 0px;
  height: 90px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
}

.Btn:hover {
  background-image: linear-gradient(
    to right,
    #c2bda0 0%,
    #5eefae 51%,
    #41aba9 100%
  );
}

@media only screen and (max-width: 1024px) {
  .leftPanel {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    border: none;
  }

  .rightPanel {
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .welcomeText {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .titleText {
    font-family: "Rock Salt", cursive;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .titleText2 {
    font-family: "Rock Salt", cursive;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #21d8c6, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 12s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .credits {
    font-size: 10px;
    margin-bottom: 900px;
  }

  .img {
    height: 90px;
    width: 90px;
  }

  .images {
    margin: 5px;
    height: 70px;
    width: 70px;
    border: #c2bda0 solid 3px;
    border-radius: 70px;
  }

  .contactDetails {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    margin-top: 290px;
  }

  .mainHeading {
    font-family: "Rock Salt", cursive;
    font-size: 20px;
  }

  h1 {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
  }

  .Btn {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    background-color: #f1e85b;
    border-color: #000000;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding: 0px;
    height: 90px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }

  .Btn:hover {
    background-image: linear-gradient(
      to right,
      #c2bda0 0%,
      #5eefae 51%,
      #41aba9 100%
    );
  }
}

@media only screen and (max-width: 800px) {
  .leftPanel {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    border: none;
  }

  .rightPanel {
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .welcomeText {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .titleText {
    font-family: "Rock Salt", cursive;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .titleText2 {
    font-family: "Rock Salt", cursive;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #21d8c6, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 12s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .credits {
    font-size: 10px;
    margin-bottom: 900px;
  }

  .img {
    height: 90px;
    width: 90px;
  }

  .images {
    margin: 5px;
    height: 70px;
    width: 70px;
    border: #c2bda0 solid 3px;
    border-radius: 70px;
  }

  .contactDetails {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    margin-top: 290px;
  }

  .mainHeading {
    font-family: "Rock Salt", cursive;
    font-size: 20px;
  }

  h1 {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
  }

  .Btn {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    background-color: #f1e85b;
    border-color: #000000;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding: 0px;
    height: 90px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }

  .Btn:hover {
    background-image: linear-gradient(
      to right,
      #c2bda0 0%,
      #5eefae 51%,
      #41aba9 100%
    );
  }
}

@media only screen and (max-width: 600px) {
  .leftPanel {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    border: none;
  }

  .rightPanel {
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .welcomeText {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }

  .titleText {
    font-family: "Rock Salt", cursive;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .titleText2 {
    font-family: "Rock Salt", cursive;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #21d8c6, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 12s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

  .credits {
    font-size: 10px;
    margin-bottom: 200px;
  }

  .img {
    height: 90px;
    width: 90px;
  }

  .images {
    margin: 5px;
    height: 70px;
    width: 70px;
    border: #c2bda0 solid 3px;
    border-radius: 70px;
  }

  .contactDetails {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    margin-top: 290px;
  }

  .mainHeading {
    font-family: "Rock Salt", cursive;
    font-size: 20px;
  }

  h1 {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
  }

  .Btn {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    background-color: #f1e85b;
    border-color: #000000;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    padding: 0px;
    height: 90px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
  }

  .Btn:hover {
    background-image: linear-gradient(
      to right,
      #c2bda0 0%,
      #5eefae 51%,
      #41aba9 100%
    );
  }
}
